<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<footer id="footer" class="footer clearfix fixed-bottom navbar-dark bg-dark">

        <div class="container">
          <div class="row">
            <div class="col-md-4 copyright">
             © 2018
            </div>
          </div> <!-- end .row -->
        </div>

    </footer>