<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">TiketKu</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
      <ul class="navbar-nav mr-auto text-center">
        <li class="nav-item">
          <a class="nav-link" href="/user/movies">Movies</a>
        </li>
      </ul>
    </div>

    <% if(user && user.role === 'client') {%>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="/user/tickets/<%= user.id %>">Tickets</a>
            </li>
        </ul>
    </div>
    <% }else if(user && user.role === 'admin') { %>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="/admin/addMovie">AddMovie</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="/admin/listMovie">ListMovie</a>
            </li>
        </ul>
    </div>
    <% } %>
    
    <% if(user) { %>
      <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/user/logout">Logout</a>
          </li>
        </ul>
      </div> 
    <% }else {%>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/user/login">Login/Register</a>
            </li>
        </ul>
    </div>
    <% } %>
</nav>